<div class="col-md-8 main">			<div>
				<div id="wufoo-z1rdljvn0y0ggfl">
					Fill out my
					<a href="https://pouya69.wufoo.com/forms/z1rdljvn0y0ggfl">online form</a>
					.
				</div>
				<script type="text/javascript">
				var z1rdljvn0y0ggfl;
				(function(d, t) {
				var s = d.createElement(t),
				options = {
				'userName': 'pouya69',
				'formHash': 'z1rdljvn0y0ggfl',
				
				'autoResize': true,
				'height': '517',
				'async': true,
				'host': 'wufoo.com',
				'header': 'show',
				'ssl': true
				};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState;
				if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try {
				z1rdljvn0y0ggfl = new WufooForm();
				z1rdljvn0y0ggfl.initialize(options);
				z1rdljvn0y0ggfl.display();
				} catch (e) {}
				};
				var scr = d.getElementsByTagName(t)[0],
				par = scr.parentNode;
				par.insertBefore(s, scr);
				})(document, 'script');
				</script>
			</div>
			<h4>
			Mentions légales
			</h4>
			Les informations recueillies font l’objet d’un traitement informatique
			destiné à une prise de contact avec l’administrateur du site pouvant déboucher
			sur un rendez-vous avec lui dans le cadre de sa pratique professionnelle.
			Les destinataires des données sont : L’administrateur
			<br/>
			Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée
			en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations
			qui vous concernent, que vous pouvez exercer sur simple demande à cette
			adresse: contact@kaarchi.fr Vous pouvez également, pour des motifs légitimes,
			vous opposer au traitement des données vous concernant sur simple demande
			à cette adresse: contact@kaarchi.fr
		</div>
		<div class="col-md-4 right">
			<img src="/assets/pages/travaux.jpg" />
		</div>
