<div class=" main">			<h4>
	KA ARCHI vous accompagne dans vos demarches administratives...
	</h4>
	Le cabinet conçoit des projets en conformité avec les règles d’urbanisme
	en vigueur dans votre ville et vous aide dans les déclarations préalables
	de travaux et les demandes de permis de construire.
	<h4>
	Vous conseille et vous guide
	</h4>
	Nos architectes expérimentés, vous pilotent dans les nombreuses déclarations
	de conformité et demandes d’autorisation de travaux qui jalonnent les chantiers
	de BTP.
	<h4>
	Sans soucis
	</h4>
	Les démarches administratives pouvant être parfois longues et complexes,
	vous appuyer sur KA ARCHI vous permettra de démarrer votre chantier dans
	les temps que ce soit votre habitation, vos bureaux ou votre local commercial
	<h4>
	...pour des travaux sans effort supplementaire !
	</h4>
	<div class="right">
		<img src="/assets/pages/demarches.jpg" />
	</div>
</div>