<div class="row main">
	<h4>
	KA ARCHI, cabinet d’expertise et conseil en architecture
	</h4>
	Notre architecte en chef après avoir longtemps travaillé comme chef de
	projet et architecte senior pour de prestigieux cabinets et sur de nombreux
	chantiers d'envergure en France comme à l’internationale à GOA, BEYROUTH,
	LAUSANE... a rejoint la Societé KA ARCHI cabinet de maître d’oeuvre à PARIS.
	<h4>
	Un cabinet d’architecte et d’intérieur design.
	</h4>
	Mise en espace, décoration, couleur, matériaux, rangement : L’équipe de
	KA ARCHI vous conseille en gros-œuvre et décoration d’intérieur.
	</br>
	Nos architectes expertisent vos installations et vous conseillent professionnellement
	dans votre conception et votre projet d’aménagement extérieur et intérieur.
	<h4>
	Un projet de de construction, rénovation, d’extension ?
	</h4>
	KA ARCHI vous conseille et traduit sur papier vos désirs d'aménagement.
	Il vous accompagnera dans votre mise en plan, vos démarches administratives
	et le suivi de vos travaux.
	</br>
	Que ce soit votre maison, votre entreprise ou votre commerce, l’équipe
	de KA ARCHI optimise et aménage votre espace de vie à l’intérieur de vos
	locaux.</br>
	<div class="right">
		<img src="/assets/pages/presentation.jpg" />
	</div>
</div>