<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8 main">
			<h4>
			KA ARCHI VOUS ACCOMPAGNE DANS LA CONCEPTION DE VOTRE PROJET
			</h4>
			Besoin d’aménager vos locaux de manière sure et efficace ?
			<h4>
			Adaptabilité, faisabilité, mise en conformité
			</h4>
			Nos architectes vous conseillent et traduisent sur papier vos envies et
			vos rêves d’aménagement et de changement. Nous dressons avec vous les études
			préliminaires et les esquisses de votre projet puis élaborons pour vous
			les projets techniques et administratifs qui aboutissent à une évaluation
			chiffrée des travaux et la délivrance des permis administratifs.
			<h4>
			Fiabilité, gain de temps, maîtrise des coûts
			</h4>
			Enfin l’équipe de KA ARCHI supervise sur le terrain le bon déroulement
			de vos travaux du début à la fin jusqu’à la réception de l’ouvrage afin
			que le chantier se termine dans les temps et sans dépassement de budget.
			<h4>
			...ET DONNE DES FORMES A VOS ENVIES
			</h4>
		</div>
		<div class="span4 right">
			<img src="./img/pages/projet.jpg" />
		</div>
	</div>
</div>