<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8 main">
			<h4>
			KA ARCHI VOUS ACCOMPAGNE DANS VOS TRAVAUX...
			</h4>
			Notre architecte et maître d’œuvre supervise vos travaux pour qu’ils restent
			conformes au projet initial en termes de coûts, main d’œuvre et matériaux.
			<h4>
			Gère les équipes
			</h4>
			Sur le terrain nous intervenons pour coordonner entre elles les différentes
			équipes de corps de métier (maçons, électriciens, plombiers etc.) et mener
			à bien le chantier dans les temps.
			<h4>
			Sans mauvaise surprise
			</h4>
			KA ARCHI gère les aléas, vous conseille et supervise votre chantier pour
			vous livrer un bien de qualité exempt de vis cachés et défauts.
			<h4>
			...DANS LES TEMPS
			</h4>
		</div>
		<div class="span4 right">
			<img src="./img/pages/travaux.jpg" />
		</div>
	</div>
</div>