<div class="row-fluid">
  <div class="span12 footer">
    <p>
    <small>
    KA ARCHI, Cabinet d’expertise, ingénierie et conseil en architecture
    <br/>
    33 BOULEVARD PONIATOWSKI, 75012 PARIS
    </small>
    </p>
  </div>
</div>