<div class="navbar navbar-default navbar-static-top ng-scope" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <!-- <a class="logo" href="/"><img src="/assets/logo-cube.png"></a> -->
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/home">Présentation</a>
        </li>
        <li>
          <a href="/projet">Votre projet</a>
        </li>
        <li>
          <a href="/demarches">Vos démarches</a>
        </li>
        <li>
          <a href="/travaux">Vos travaux</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>