<div class="navbar">
  <div class="navbar-inner">
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar">
    </span>
    <span class="icon-bar">
    </span>
    <span class="icon-bar">
    </span>
    </button>
    <!-- KA Archi -->
    <a class="brand" href="/"><img src="/assets/logo-cube.png" /></a>
    <!-- <a class="brand" href="#"><img src="./img/logo_kaarchi.jpg"></a> -->
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li class="active">
          <a href="/home">Présentation</a>
        </li>
        <li>
          <a href="/projet">Votre projet</a>
        </li>
        <li>
          <a href="/demarches">Vos démarches</a>
        </li>
        <li>
          <a href="/travaux">Vos travaux</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>